---
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import { storyblokEditable } from "@storyblok/astro";
import type { SbBlokData } from "@storyblok/astro";

const { blok } = Astro.props;
---

<main {...storyblokEditable(blok)}>
    {
      // Cast body to SbBlokData[] to satisfy the component prop type
      (blok.body as SbBlokData[])?.map((nestedBlok) => {
        return <StoryblokComponent blok={nestedBlok} />;
      })
    }
  </main>