---
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import { storyblokEditable } from "@storyblok/astro";
import type { SbBlokData } from "@storyblok/astro";

const { blok } = Astro.props;
---

<main {...storyblokEditable(blok)} class="min-h-screen">
  {
    (blok.body as SbBlokData[])?.map((nestedBlok) => {
      return <StoryblokComponent blok={nestedBlok} />;
    })
  }
</main>