# .github/workflows/ci.yml
name: CI

on: [push, pull_request]

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v2
        with:
          version: 9
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "pnpm"

      - name: Install Deps
        run: pnpm install --frozen-lockfile

      - name: Sync Types
        run: pnpm astro sync

      - name: Lint & Typecheck
        run: |
          pnpm lint
          pnpm typecheck
          pnpm astro check

      - name: Build
        run: pnpm build
